biopython
dna-features-viewer
fbs==0.8.8
matplotlib
nltk
numpy
pandas
Pillow
PyInstaller
PyQt5
PyQt5-sip
PyQtChart
PyQtWebEngine
PySide2==5.15.0
reportlab
scikit-learn
scipy
seaborn
textdistance
pywin32==301
pywin32-ctypes==0.2.0
wincertstore==0.2
